

* {
  margin: 0;
}

.navbar{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #ef5350;
}

.navbar h1 {
  padding-left: 10%;
}

.navbar .buttons{
  margin-left: auto;
  padding-right: 10%;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.search{
  padding: 3% ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h2{
  font-size: 75px;
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: center;
}
.content p{
  font-size: 20px;
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  justify-content: center;
}
.content a{
  display: flex;
  align-items: center;
  justify-content: center;
}